mat-toolbar{
    width: 100%;
}

.container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

a{
    margin-left: 4rem;
    font-size: 14px;
}
.menu-log{
    padding-right: 3rem;
}
