<div class="header" *ngIf="moviesLoad">
    <div class="container">

        <img mat-mat-card-image 
        src="https://images.unsplash.com/photo-1501103777042-0aeb4df8ff8f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NHx8aG9sbHl3b29kfGVufDB8fDB8&ixlib=rb-1.2.1&w=1000&q=80" 
        alt="cine" class="headerCine">
        <mat-divider></mat-divider>
        <div class="body">
        <div class="title-container">
            <h2 class="title">Proximos Estrenos</h2>
        </div>

        
        <mat-card class="mat-card-estrenos"
        *ngFor="let movie of UpComingMoviesList">
            

            <img mat-mat-card-image 
            src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" 
            alt="{{movie.original_title}}">

            <button mat-icon-button color="warn" aria-label="heart icon" class="like">
                <mat-icon>favorite</mat-icon>
      </button>
            <mat-card-title>
                {{movie.original_title}}
            </mat-card-title>
            
            <div class="content">
                <mat-card-subtitle>
                    Idioma original: {{movie.original_language}}
                </mat-card-subtitle>

                <mat-card-subtitle>
                    Fecha de Estreno: {{movie.release_date}}
                </mat-card-subtitle>

                <mat-card-subtitle>
                    Puntuación: {{movie.vote_average}}
                </mat-card-subtitle>

                <mat-card-subtitle>
                    Popularidad: {{movie.popularity}}
                </mat-card-subtitle>
            </div>
    </mat-card>
    <div class="btn">
        <button mat-flat-button >See More</button>
    </div>
</div>

        


<div class="container">

    <div class="title-container">
        <h2 class="title">Movies</h2>
    </div>

        <mat-card *ngFor="let movie of moviesList">

            <img mat-mat-card-image 
            src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" 
            alt="{{movie.original_title}}">

            <button mat-icon-button color="warn" aria-label="heart icon" class="like">
                <mat-icon>favorite</mat-icon>
      </button>

            <mat-card-title>
                {{movie.original_title}}
            </mat-card-title>
            
            <div class="content">
                <mat-card-subtitle>
                    Idioma original: {{movie.original_language}}
                </mat-card-subtitle>

                <mat-card-subtitle>
                    Fecha de Estreno: {{movie.release_date}}
                </mat-card-subtitle>

                <mat-card-subtitle>
                    Puntuación: {{movie.vote_average}}
                </mat-card-subtitle>

                <mat-card-subtitle>
                    Popularidad: {{movie.popularity}}
                </mat-card-subtitle>

            </div>

        </mat-card>

        <div class="btn">
            <a mat-flat-button routerLink="/movies">See More</a>
        </div>


    </div>
</div>

