.container {
  width: 100%;
  text-align: center;
}
h2 {
  text-align: left;
  font-size: 40px;
  font-family: "Poppins", sans-serif;
  margin-left: 60px;
  font-weight: 400;
  margin-top: 20px;
}
h1 {
  font-size: 80px;
  font-weight: 400;
  font-family: "Poppins";
}
.welcome {
  position: absolute;
  font-family: "Poppins";
  margin-top: -500px;
  font-size: 80px;
  margin-left: 100px;
  color: #bf1b68;
  font-style: 400;
}

.welcome .by {
  font-size: 20px;
  color: white;
  margin-left: 500px;
  margin-top: 350px;
}

img {
  width: 60%;
  margin-bottom: 1rem;
}
.title-container {
  width: 100%;
  background-color: #bf1b68;
  height: 5rem;
  display: flex;
  align-items: center;
  border: black solid 0.5px;
}

mat-card-title {
  margin-top: 0px;
  margin-bottom: 5px;
  text-align: left;
}

mat-card {
  margin: 20px;
  width: 25%;
  display: inline-block;
}

.content {
  text-align: left;
  padding-top: 3%;
}

.pages {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1rem;
}

.btn {
  text-align: right;
  margin-right: 70px;
  position: relative;
}

.like {
  position: absolute;
  margin-left: 20px;
}

// div .body {
//   background-color: #e91e63;
// }

.headerCine {
  width: auto;
  position: relative;
  height: auto;
  padding: 0;
}
