<p>Movies-list works</p>
<div class="row">
    <div class="responsive">
    <div class="card">
        <div class="image">
            <a routerLink="'/movies-details', movies.id]">
                <img 
                [src]="movies.image" 
                [alt]="movies.title"
                class="card-img-top"
                />
            </a>
        </div>
        <div class="card-inner">
            <div class="header">
            <a [routerLink]="['/movies-details', movies.id]">
            <h2>movies.title</h2>
            </a>
            <h4 class="text-muted">movies.languages</h4>
            <small class="text-muted">movies.popularity</small>
            </div>
        </div>
    </div>
    </div>
</div>
<button mat-raised-button color="primary" (click)="goUp();">Go Up</button>

