<div class="movies">
    <div class="container" *ngIf="moviesLoad">
        <mat-card *ngFor="let movie of moviesList">
            <img mat-mat-card-image src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="">
            <mat-card-title>{{movie.original_title}}</mat-card-title>
            <div class="content">
                <mat-card-subtitle>Fecha de Estreno: {{movie.release_date}}</mat-card-subtitle>
                <mat-card-subtitle>Puntuación: {{movie.vote_average}}</mat-card-subtitle>
            </div>
            <button
            mat-raised-button color="primary" (click)="onDetailsClick(movie.id)" >
            Mas Info</button>
        </mat-card>
        <div class="pages">
            <button mat-flat-button *ngIf="!pageOne" (click)="movePage('ant')" >Página Anterior</button>
            <button mat-flat-button (click)="movePage('sig')" >Página Siguiente</button>
        </div>
    </div>
</div>

